.App {
  /* text-align: center; */
  height: 100vh;
  width: 100vw;
  background: #eff5f6;
  font-family: "Roboto", sans-serif;
  background-image: url("./background.svg");
}

.Main-alt {
  text-align: center;
  position: relative;
  margin: 50px auto;
  max-width: 90%;
}

.SubMain {
  position: relative;
}

.SubMain h1 {
  width: 60%;
  margin-left: 10px;
  font-weight: 300;
  font-size: 3em;
  padding: 15px;
  border-top: 1px solid black;
  border-bottom: 2px solid black;
  border-radius: 18px;
}
.form {
  text-align: center;
  width: 70%;
  margin: 10px auto;
  border-top: 0.5px solid lightgrey;
  border-bottom: 0.5px solid lightgrey;
  border-radius: 18px;
  padding: 15px;
  background: #d0dee0;
}

.form button {
  margin: 2em;
  background: #b2c5c7;
}

.weather {
  text-align: center;
  margin: 0 auto;
  width: 95%;
  border-radius: 18px;
  background: #d0dee0;
  padding: 24px 0;
}

.weather h2 {
  font-size: 2em;
}

.weather img {
  height: 25%;
}

.weather-desc {
  display: none;
}

.drawer {
  background: #d0dee0;
}

@media only screen and (min-width: 700px) {
  .App {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .Main {
    height: Calc(100vh - 104px);
    padding-top: 40px;
    width: 80%;
    margin: 0 auto;
    position: relative;
  }

  .SubMain h1 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .weather {
    width: 55%;
    float: right;
  }

  .weather-desc {
    display: contents;
  }

  .form {
    width: 35%;
    float: left;
    border: none;
    margin-top: 110px;
    background: none;
  }
}

@media only screen and (min-width: 1000px) {
  .App {
    background-image: none;
  }
  .Main {
    max-width: 65%;
    background-image: url("./background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media only screen and (min-width: 1360px) {
  .SubMain {
    margin-top: 100px;
  }
  .weather {
    height: 300px;
    width: 400px;
    margin-top: 65px;
  }
  .SubMain h1 {
    width: 450px;
    float: left;
    border: none;
  }
}
